<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- Shiro AOP　权限注解-->
    <aop:config proxy-target-class="true"></aop:config>

    <!--静态资源文件，不会被springmvc拦截-->
    <mvc:resources mapping="/ui/**" location="/ui/"/>

    <!-- 防止@ResponseBody中文乱码 -->
    <mvc:annotation-driven>
    </mvc:annotation-driven>

    <!--配置渲染器-->
    <bean id="jspViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
    <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
    <!--结果视图的前缀-->
    <property name="prefix" value="/WEB-INF/jsp/"/>
    <!--结果视图的后缀-->
    <property name="suffix" value=".jsp"/>
    <!--这样就会自动去找 /web-inf/jsp/hello.jsp 去了-->
    </bean>

    <!--注解扫描器，扫描controller包-->
    <context:component-scan base-package="cn.yah.controller"/>

    <!--文件上传配置-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="utf-8"></property>
        <property name="maxUploadSize" value="10485760000"></property>
        <property name="maxInMemorySize" value="40960"></property>
    </bean>
</beans>